<%= form_with(model: caminho, local: true) do |form| %>
  <% if caminho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caminho.errors.count, "error") %> prohibited this caminho from being saved:</h2>

      <ul>
      <% caminho.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
